.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.justfordemo {
  color : yellowgreen;
}
.signup-content {
  display: flex;
  justify-content: space-between;
}

.signup-form {
  width: 50%; /* Adjust as needed */
}

.signup-image {
  width: 50%; /* Adjust as needed */
  text-align: right;
}

.signup-link {
  width: 50%; /* Adjust as needed */
  text-align: right;
}
/* Example CSS to increase placeholder size */
input::placeholder {
  font-size: 16px; /* Adjust the size as needed */
  font-weight: bold;
}
.signup {
  background-color: #f9f9f9;
  padding: 50px 0;
}

.signup-content {
  display: flex;
  justify-content: space-between;
}

.signup-form {
  width: 45%;
}

.register-form {
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  margin-right: 10px;
}

input[type='text'],
input[type='email'],
input[type='tel'],
input[type='password'] {
  width: 50%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.form-button {
  text-align: center;
}

.form-submit {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.signup-image {
  width: 45%;
}

.signup-image img {
  max-width: 100%;
  height: auto;
}

.signup-link {
  text-align: center;
}

.signup-image-link {
  color: #007bff;
  text-decoration: none;
}

.signup-image-link:hover {
  text-decoration: underline;
}




.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.signin-content {
  display: flex;
  align-items: center; /* Vertically align content */
  justify-content: space-around; /* Horizontally distribute content */
  flex-direction: row-reverse; /* Reverse the order of flex items */
  margin: 0 120px;
}

.signin-image {
  flex: 1; /* Take 50% of the width */
    margin: 0 120px; /* Optional margin adjustment */
  }
.signup-form {
  flex: 1; /* Take 50% of the width */
}
/* Styling for contact info section */
.contact_info {
  background-color: #f8f9fa;
  padding: 50px 0;
}

.contact_info_item {
  margin-bottom: 20px;
}

.contact_info_item img {
  margin-right: 10px;
}

.contact_info_title {
  font-size: 20px;
  font-weight: bold;
}

.contact_info_text {
  font-size: 16px;
}

/* Styling for contact form section */
.contact_form {
  padding: 20px 0;
  width: auto;
}

.contact_form_container {
  background-color: #f8f9fa;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.contact_form_title {
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
}

.contact_form_name,
.contact_form_email,
.contact_form_phone {
  /* width: calc(33.333% - 10px); */
  width: auto;
  margin-right: 10px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
}

.contact_form_textarea {
  width: 2000px;
  padding: 10px;
  border: 1px solid #ced4da;
  border-radius: 5px;
  outline: none;
  height: 200px;
}

.contact_form_button {
  text-align: center;
  margin-top: 20px;
}

.contact_submit_button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  outline: none;
}

.contact_submit_button:hover {
  background-color: #0056b3;
}
.home-page {
  background-color: #e0ffff; /* Light aqua color */
  position: relative; /* Position the element relatively */
  width: 100%; /* Set the width of the container to 100% of the viewport width */
  height: 100vh; /* Set the height of the container to 100% of the viewport height */
}
.aqua-section {
  background-color: #e0ffff; /* Light aqua color */
  position: absolute; /* Position the element absolutely */
  top: 0; /* Align the top of the element with the top of the viewport */
  left: 0; /* Align the left side of the element with the left side of the viewport */
  width: 50%; /* Set the width of the aqua section to 50% of the viewport width */
  height: 100%; /* Set the height of the aqua section to 100% of the viewport height */
}

.home-div {
  position: absolute; /* Position the element absolutely */
  top: 50%; /* Align the top of the element with the middle of the viewport */
  left: 50%; /* Align the left side of the element with the middle of the viewport */
  transform: translate(-50%, -50%); /* Move the element back by 50% of its own width and height */
  text-align: center; /* Center the text within the div */
}

.home-div p {
  font-size: 24px; /* Set the font size for the paragraph */
  color: #ff5733; /* Orange text color */
  margin-top: -10px; /* Adjust the margin to move the paragraph up */
}

.home-div h1 {
  font-size: 36px; /* Set the font size for the heading */
  color: #555; /* Slightly darker gray text color */
  margin-top: 10px; /* Add some space between the paragraph and the heading */
  /* text-transform: uppercase; Convert the text to uppercase */
}
.profile-img {
  width: 200px; /* Set the width of the image */
  height: 200px; /* Set the height of the image */
  object-fit: contain; /* Maintain aspect ratio and cover the entire space */
  border-radius: 10%; /* Make the image circular */
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.profile-image {
  text-align: center;
}

.profile-img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.profile-head {
  text-align: center;
}

.profile-rating {
  font-size: 18px;
}

.nav-tabs {
  justify-content: center;
}

.profile-work {
  margin-top: 20px;
}

.profile-work a {
  display: block;
  margin-bottom: 10px;
  text-decoration: none;
  color: #333;
}

.about-info {
  padding-left: 30px;
}

.tab-content {
  padding-top: 20px;
}

.profile-tab label {
  font-weight: bold;
}

.profile-tab p {
  margin-bottom: 10px;
}

.profile-edit-btn {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
}

.profile-edit-btn:hover {
  background-color: #0056b3;
}

#notfound {
  position: relative;
  height: 100vh;
}

.notfound {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.notfound404 h1 {
  font-size: 200px;
  color: #333;
  line-height: 1.1;
}

h2 {
  font-size: 46px;
  margin: 0;
  padding: 0;
}

p {
  font-size: 20px;
  color: #333;
  line-height: 1.5;
  margin-bottom: 30px;
}

NavLink {
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
  color: #333;
  padding: 10px 20px;
  border: 1px solid #333;
  border-radius: 50px;
  transition: background-color 0.3s, color 0.3s;
}

NavLink:hover {
  background-color: #333;
  color: #fff;
}
/* About.css */

.container {
  margin-top: 50px;
}

.profile-image img {
  /* border-radius: -50%; */
  width: 1000px;
  height: 1000px;
  object-fit: cover;
  object-position: centre;
}

.profile-head h5 {
  color: #333;
}

.profile-head h6 {
  color: #555;
}

.profile-rating {
  color: #777;
}

.profile-rating span {
  font-weight: bold;
}

.profile-work p {
  font-weight: bold;
}

.profile-work a {
  color: #007bff;
  text-decoration: none;
}

.about-info label {
  font-weight: bold;
}

